*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.logo{
    margin: 0.4in 0.4in;
    height: 0.4in;
    color: rgb(63, 114, 175);
    background-color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: bold;
}
.background{
    padding: 0in 0.8in;
    height: 720px;
    background-color: rgb(255, 255, 255);
}
.head{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.left{
    flex: 1 45%;
}
.right{
    flex: 1 45%;
    padding-right: 1.6in;
}
@media screen and (max-width: 768px) {
    .left,.right,.container-color {
        flex: 1 100%;
    }
}
.title{
    font-size: 76px;
    font-weight: bolder;
    color: rgb(34, 40, 49);
}
.sub {
    font-size: 40px;
    font-weight: bold;
    padding: 0.2in 8px;
}
.text {
    font-size: 20px;
    font-weight: 400;
    padding: 0.1in 13px;
    line-height: 0.3in;
}
.button{
    padding: 0.3in 0in;
}
.add{
    width: 180px;
    background-color: rgb(234, 234, 234);
    border: none;
    border-radius: 6px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    margin: 4px 6px;
    cursor: pointer;
}
.buy{
    width: 180px;
    background-color: rgb(63, 114, 175);
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    margin: 4px 6px;
    cursor: pointer;
}
.image{
    width: 480px;
    height: 480px;
}
.container-color{
    flex: 1 1%;
    padding-left: 0.3in;
}
.container-color>*{
    margin: 8px 0px
}
#Black{
    background-color: #23211f;
    width: 30px;
    height: 30px;
    border: none;
}
#Orange{
    background-color: #ca3d22;
    width: 30px;
    height: 30px;
    border: none;
}
#Purple{
    background-color: #565681;
    width: 30px;
    height: 30px;
    border: none;
}
#Pink{
    background-color: #e9c7be;
    width: 30px;
    height: 30px;
    border: none;
}